<!DOCTYPE html>
<html>

    <head>
        <title>ESP-Epaper</title>
        <link rel="icon" type="image/x-icon" href="/favicon.png">
        <link rel="stylesheet" href="screen.css">
    </head>

    <body>
        <div id="maindiv">
            <h1>ESP-Epaper-Screen</h1>
            <p>Debug. The data is:
                <%= JSON.stringify(data) %></p>
            <p>The timestamp is:
                <%= new Date(); %></p>
            <div class="screen-container">
                <div class="left-container">
                    <table class="data-table">
                        <tr>
                            <td class="data-name">Produktion:</td>
                            <td class="large data-value"><b> <%= data.prod %>  </b></td>
                            <td class="data-unit"><b>W</b></td>
                        </tr>
                        <tr>
                            <td class="leftspace small data-name">Ost:</td>
                            <td class="data-value"> <%= data.prod1 %>  </td>
                            <td class="small data-unit">W</td>
                        </tr>
                        <tr>
                            <td class="leftspace small data-name">Süd + West:</td>
                            <td class="data-value"> <%= data.prod2 %> </td>
                            <td class="small data-unit">W</td>
                        </tr>
                        <tr>
                            <td class="data-name">Eigenbedarf:</td>
                            <td class="large data-value"><b> <%= data.use %> </b></td>
                            <td class="data-unit"><b>W</b></td>
                        </tr>
                    </table>
                    <table class="<% if (data.grid >= 0) { %> negative <% } %> grid-balance">
                        <tr>
                            <td class="grid-balance-value"><%= Math.abs(data.grid) %> </td>
                            <td class="grid-balance-unit">W</td>
                        </tr>
                    </table>
                    <p class="grid-status"><%if(data.grid<0){%>Einspeisung<%}else{%>Netzbezug<%}%></p>
                </div>
                <div class="right-container">
                    
                </div>
                <div class="bottom-container">
                    <p>zul. aktualisiert: <%= data.timestamp %> </p>
                </div>
            </div>
        </div>
    </body>

</html>
