<!DOCTYPE html>
<html>

    <head>
        <title>ESP-Epaper</title>
        <link rel="icon" type="image/x-icon" href="/favicon.png">
        <link rel="stylesheet" href="/screen.css">
    </head>

    <body>
        <div id="maindiv">
            <h1>ESP-Epaper-Screen</h1>
            <p>Debug. The data is:
                <%= JSON.stringify(data) %></p>
            <p>The timestamp is:
                <%= new Date(); %></p>
            <div class="screen-container">
                <div class="left-container">
                    <table>
                        <tr>
                            <td class="data-name">Produktion:</td>
                            <td class="data-value"><b><%= data.prod %></b></td>
                            <td class="data-unit"><b>W</b></td>
                        </tr>
                        <tr class="data-small">
                            <td class="data-name">Ost:</td>
                            <td class="data-value"><%= data.prod1 %></td>
                            <td class="data-unit">W</td>
                        </tr>
                        <tr class="data-small">
                            <td class="data-name">Süd + West:</td>
                            <td class="data-value"><%= data.prod2 %></td>
                            <td class="data-unit">W</td>
                        </tr>
                        <tr>
                            <td class="data-name">Eigenbedarf:</td>
                            <td class="data-value"><b><%= data.use %></b></td>
                            <td class="data-unit"><b>W</b></td>
                        </tr>
                        <tr class="data-summary-neg">
                            <td class="data-summary-val"><%= data.grid %> </td>
                        </tr>
                    </table>
                </div>
                <div class="right-container">

                </div>
                <div class="bottom-container">

                </div>
            </div>
        </div>
    </body>

</html>
